.card{
    width: 200px;
    height: 450px;
    margin: 10px;
    margin-left: 10px;
}
.card:hover{
    background: #20c997;
    color:black;
}

.imgCard{
   width: 150px;
   max-height: 150px;
   min-height:150px;
   margin: 15px 0px 0px 25px;
}



.precio, .estado, .stock{
    height: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.precio:hover, .estado:hover, .stock:hover{
    background: #20c997;
    color: white;
}
